<fieldset>
  <legend>Nanoair Managment</legend>      
  <table class="table table-bordered">
    <tr>
      <th>Id</th> 
      <th>Name</th> 
      <th>Username</th> 
      <th>Age</th> 
      <th>Working at</th> 
      <td>Position</td> 
      <td>Adresse</td> 
      <th>Actions</th> 
  
    </tr>
    <tr>
      <td>{{person.id}}</td> 
      <td>{{person.name}}</td> 
      <td>{{person.username}}</td> 
      <td>{{person.age}}</td> 
      <td>{{person.work}}</td>  
      <td>{{person.position}}</td> 
      <td>{{person.adresse}}</td> 
      <button (click) = "changePersonne()">Switch from kasse to Basse</button> 
    </tr>
  </table>


</fieldset>
